/* common shered style */
body{
    font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: orangered;
}
.btn-prymary{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    padding: 12px 17px;
    border: 0;
    font-size: 20px;
    font-weight:70px ;
}


/* nav releted style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color: #181818;
}
/* header style */
.header{
    background-color: #FFF8F3;
    background-image: url("/portfolio-resources/images/header_bg.png"),url("/portfolio-resources/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.baner{
    padding:30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baner .profile-picture{
    width: 400px;
}
.baner-greating{
    font-size: 30px;
    color: #181818;
    margin-bottom: 0px;

}
.baner-title{
    font-size: 80px;
    font-weight: 400px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.baner-dic{
    margin-bottom: 20px;
    color: #181818
}
.baner-containt{
    max-width: 500px;
}






/* main section css */
.section-titel{

    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section {
    margin-top: 117px;
}


/* about section */
.about{
    padding: 130px;
    background: #FFF8F3;
    border-radius: 5px;
    margin: 130px 0px;
    
}
.section-decription{
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.about-info{
    text-align: center;
}
  /* skil releted style */


#what-i-do{
    padding: 30px 150px;
}
.sikl-container{
    display: flex;
    
    margin-bottom: 15px;
    gap: 24px;
  
}
.skil{
  background-color:white;
  height:250px;
  width: 230px;
  padding: 20px;
  border-radius: 5px;
  gap: 24px;
  box-shadow: 0px 7px 50px 0px rgb(91, 91, 95);
  color: #181818;
  

}


/* rasumi section taitel */

.rasume-colam-title{
   
    color: #181818;
    font-size: 30px;
    font-weight: 700px;
}
.rasume-container{
    display: flex;
    gap: 50px;
}
.rasumee-item-drecpition,.rasumi-item-instetut{
    color: #181818;
}
.rasume-colam-title{
    color: #181818;
    font-size: 25px;
    font-weight: 700px;
    margin: 15px 0px;
}
.rasume-container hr{
    margin: 30px;
}
.dowenlode-cv{
    text-align: center;,
    margin-top: 50px;
}
footer{
    display: flex;
    justify-content: space-around;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.fotter-colam{
    width: 50%;

}

.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #181818;
    border-radius: 5px;
    border: 0px;

}
.socal-links a{
    margin-right: 24px;
    margin-top: 7px;
}